#Write a program that takes two numbers (a = 15 , b = 4) and prints their:
Sum

Difference

Product

Division

Floor Division

Modulus

In [2]:
a=15
b=4
a

15

In [3]:
b

4

In [4]:
#sum
a+b

19

In [5]:
#Difference
a-b

11

In [6]:
#product
a*b

60

In [7]:
#Division
a/b

3.75

In [8]:
#floor Division

a//b

3

In [9]:
#modulus

a%b

3

#2 Convert the following: (num1 = 10, num2 = 5.6, num3 = 4.43)

Integer to float

Float to integer

Float to String

In [11]:
num1 = 10
num2 = 5.6
num3 = 4.43
print(num1)

10

In [12]:
print(num2)

5.6

In [13]:
print(num3)

4.43

In [14]:
#Integer to Float

flt=float(num1)
flt

10.0

In [15]:
#Float to Integer

int=int(num2)
int

5

In [16]:
#Float to String
strng=str(num3)
strng

'4.43'

#3 fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

The first fruit

The last fruit (negative indexing)

The fourth fruit

In [18]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
fruits

['apple', 'banana', 'cherry', 'coconut', 'pineapple', 'mango', 'orange']

In [19]:
#The first fruit

first_fruit = fruits[0]
first_fruit

'apple'

In [20]:
#The last fruit(negative indexing)
last_fruit=fruits[-1]
last_fruit

'orange'

In [21]:
#the fourth fruit

fourth_fruit=fruits[3]
fourth_fruit

'coconut'

#List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

First three elements

Last two elements

Print all elements except the first one

Print all elements except the last one

Print the list in reverse using slicing

Print every second element

In [23]:
numbers = [10, 20, 30, 40, 50]
numbers

[10, 20, 30, 40, 50]

In [24]:
#first three elements

first_three_elements=numbers[:3]
first_three_elements

[10, 20, 30]

In [25]:
#last two elements

last_two_elements=numbers[3:]
last_two_elements

[40, 50]

In [26]:
#Print all elements except the first one

all_elements_except_the_first_one=numbers[1:]
all_elements_except_the_first_one

[20, 30, 40, 50]

In [27]:
#Print all elements except the last one

all_elements_except_the_last_one=numbers[:4]
all_elements_except_the_last_one

[10, 20, 30, 40]

In [28]:
#Print the list in reverse using slicing

list_in_reverse_using_slicing=numbers[::-1]
list_in_reverse_using_slicing

[50, 40, 30, 20, 10]

In [29]:
#Print every second element

every_second_element=numbers[1:5:2]
every_second_element

[20, 40]

Add the number 10 to the end of the list using method.
nums = [1, 2, 3]

In [31]:
#append method

nums = [1, 2, 3]
nums

[1, 2, 3]

In [32]:
nums.append(10)
nums

[1, 2, 3, 10]

Insert the number 99 at index 1 using method.
nums = [1, 2, 3]

In [34]:
#insert method

nums=[1,2,3]
nums.insert(1,99)
nums

[1, 99, 2, 3]

#Add the elements of another list [4, 5] to the original list using method
nums = [1, 2, 3]

In [36]:
nums=[1,2,3]
nums2=[4,5]
nums.extend(nums2)
nums

[1, 2, 3, 4, 5]

#Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [38]:
nums = [4, 1, 3, 2]
nums.sort()
nums

[1, 2, 3, 4]

#A customer orders several food items. Add the items to a list and then:
order = ["burger", "fries", "coke"]

Add a new item "ice cream" using append()

Remove an item "biryani" using remove()

Show the final order

In [40]:
order = ["burger", "fries", "coke"]
order

['burger', 'fries', 'coke']

In [41]:
#Add a new item "ice cream" using append()

order.append("ice cream")
order

['burger', 'fries', 'coke', 'ice cream']

In [42]:
#Remove an item "biryani" using remove()

order.append("biryani")
order

['burger', 'fries', 'coke', 'ice cream', 'biryani']

In [43]:
order.remove("biryani")

order

['burger', 'fries', 'coke', 'ice cream']

In [44]:
#Show the final order

order

['burger', 'fries', 'coke', 'ice cream']

#Track passengers on a bus:
passengers = ["Ali", "Zara", "Ahmed"]

Insert a new passenger "Sara" at position 2

Remove passesnger who got off "Zara"

Reverse the order to show who entered first

In [46]:
passengers = ["Ali", "Zara", "Ahmed"]

passengers

['Ali', 'Zara', 'Ahmed']

In [47]:
#Insert a new passenger "Sara" at position 2

passengers.insert(1,'Sara')
passengers

['Ali', 'Sara', 'Zara', 'Ahmed']

In [48]:
passengers

['Ali', 'Sara', 'Zara', 'Ahmed']

In [87]:
#Remove passesnger who got off "Zara"
passengers.remove("Zara")
print(passengers)

['Ali', 'Sara', 'Ahmed']

In [89]:
passengers.reverse()
passengers

['Ahmed', 'Sara', 'Ali']